VITE_SUPABASE_URL=https://fymdyzxufkducfxfjdrr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5bWR5enh1ZmtkdWNmeGZqZHJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MTQzNjEsImV4cCI6MjA5MjA5MDM2MX0.6SvfZjwDA4Yv0PxscTBRawtvYWw6pAOENAnX2ARIBMI
VITE_SUPABASE_AUTH_REDIRECT_URL=http://localhost:5173/
